body {
    background-color: #1D1D1D !important;
    height: 100%;
    overflow-y: hidden;
}

/*Disable syntax highlighter background*/
.hljs {
    background: none !important;
}

@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/fonts/Monda-Regular.ttf);
}

header {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}